#app-container {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */

#app-header {
  position: fixed;
  top: 0;

  height: 30px;
  width: 100%;
  padding: 10px 16px;

  display: flex;
  background-color: white;
}

#app-header span {
  align-self: flex-end;
}

#app-title {
  font-size: 20px;
  font-weight: bold;
}

/* Sidebar */

#app-sidebar {
  position: fixed;
  top: 50px;
  left: 0;

  width: 150px;
  height: calc(100vh - 50px);

  display: flex;
  flex-direction: column;

  /* background-color: green; */
}

/* Content Area */

#app-content-container {
  position: absolute;
  top: 50px;
  left: 150px;

  padding: 20px;
  width: calc(100% - 150px - 40px);
  min-height: calc(100% - 50px - 40px);

  display: flex;
  flex-direction: column;

  /* background-color: aqua; */
}

#note-page {
  font-size: 18px;
  margin-bottom: 40px;
  outline: 0;
}

/* Checkboxes */

ul.checkbox {
  padding-left: 20px;
}

li.checkbox {
  list-style-type: none;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
}

li.checkbox:before {
  content: "\2610";
  padding-right: 5px;
  font-size: 24px;
}

li.checkbox.checked:before {
  content: "\2611";
  padding-right: 7px;
  padding-left: 1px;
  font-size: 19px;
}

li.checkbox.checked div.checkbox {
  text-decoration: line-through;
  color: silver;
}
