@import "checkbox.css";
@import "sidebar.css";
@import "main-content.css";
@import "footer.css";
@import "ui-elements.css";
@import "styles.css";
@import "themes.css";

body {
    margin: 0;
    padding: 0;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    &.sidebar-collapsed #app-divider {
        display: none;
    }

    &.info-open {
        height: 80vh;
    }
}

.responsive-left {
    min-width: 150px;
    max-width: 400px;
}

.responsive-right {
    flex: 1; /* This will make it take up remaining space */
}

#app-divider {
    width: 4px;
    height: calc(100% - 60px);
    margin: 30px 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
    z-index: 2;
    cursor: col-resize;
    border-radius: 2px; /* Added to round the edges */

    &:hover {
        background-color: rgba(128, 128, 128, 0.5);
    }

    &:active {
        background-color: rgba(128, 128, 128, 0.7);
    }
}

/* Context menu */
#context-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;

    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;

    &.show {
        display: flex;
    }
}

.context-menu-button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    width: caloc(100% - 10px);

    &:hover {
        background-color: rgb(87, 87, 87);
    }
}
