#app-sidebar {
    width: 200px; /* Default width */
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.05s;

    &.collapsed {
        width: 50px !important;
        min-width: 50px;

        #note-tab-container,
        #app-theme-container,
        #new-note-button-container {
            display: none;
        }

        #collapse-button-container {
            right: 5px;
            transition: right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        #collapse-button {
            transform: none;
            width: auto;
            padding: 0 4px;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

#left-header {
    position: relative; /* Was assuming absolute parent */
    height: 50px;
    width: 100%;
}

#new-note-button-container {
    position: absolute;
    top: 15px;
    left: 15px;
}

#new-note-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 15px;
    padding: 0px 5px 5px 5px;
    border-radius: 3px;

    color: darkgrey;
    font-size: 30px;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: lightgrey;
        color: white;
    }
}

#new-note-tooltip {
    display: none;
    position: absolute;
    width: 60px;
    bottom: -35px;
}

#new-note-button:hover + #new-note-tooltip {
    display: block;
}

#collapse-button-container {
    position: absolute;
    top: 22px;
    right: 15px;
    transition: right 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#collapse-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0px 8px;
    border-radius: 3px;
    
    color: darkgrey;
    font-size: 13px;
    font-weight: 500;
    text-transform: lowercase;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover {
        background-color: lightgrey;
        color: white;
    }
}

#app-sidebar.collapsed #collapse-button {
    width: auto;
    transform: none;
}

#collapse-tooltip {
    display: none;
    position: absolute;
    width: 85px;
    bottom: -35px;
    left: 0;
}

#collapse-button:hover + #collapse-tooltip {
    display: block;
}

#note-tab-container {
    display: flex;
    flex-direction: column;

    gap: 8px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 10px;

    overflow-y: scroll;

    --mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 1) 2%,
            rgba(0, 0, 0, 1) 98%,
            rgba(0, 0, 0, 0) 100%
        )
        100% 50% / 100% 100% repeat-x;

    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.note-tab {
    display: flex;
    align-items: center;

    padding: 0 10px;
    height: 40px;

    font-size: 15px;
    font-weight: 500;
    color: lightgray;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.1s linear;

    white-space: nowrap;
    overflow: hidden;

    &.active {
        color: grey;
        font-weight: 650;
    }

    &:hover {
        background-color: #f1f1f1;
    }
}

/* Theme Switcher */

#app-theme-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 50px;
}

#app-theme-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 30px;
}
