#app-footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 0;

  display: flex;
  flex-direction: row;

  transition: all 0.5s ease-in-out;

  overflow: scroll;
  background-color: black;
  color: white;
}

#app-footer.info-open {
  height: 15vh;
}

/* Footer Left Content */

#footer-section-1 {
  width: 20vw;
  min-width: 100px;

  /* background-color: red; */
}

#footer-left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;
  height: calc(100% - 20px);
}

#footer-heading {
  font-size: 15px;
  font-weight: 700;
}

#footer-credits {
  color: gray;
  font-weight: 100;
}

#github-link {
  color: gray;
  font-weight: 800;
  text-decoration: none;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}
/* Footer Right Content */

#footer-section-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

#footer-section-2 .column {
  background-color: blue;
}
