#app-header {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* background-color: green; */
}

#app-title {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 20px;
  font-weight: bold;

  & > span {
    position: relative;
    bottom: -1.25px;
  }

  /* background-color: red; */
}

#app-toolbar {
  position: absolute;
  top: 0;
  right: 5px;
  height: 40px;
  padding: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  /* background-color: blue; */
}

/* Copy Markdown Button */

#copy-md-container {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#copy-md-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: lightgrey;
    cursor: copy;
  }

  /* background-color: aqua; */
}

#copy-md-tooltip {
  display: none;
  position: absolute;
  width: 90px;
  bottom: -30px;
  right: 0;
}

#copy-md-icon:hover + #copy-md-tooltip {
  display: block;
}
